body {
  background-color: lightgrey;
}

@import url('http://www.cinemasgaumontpathe.com/upload/contenus/00000013.jpg');

h1.mvs-header {
  font-family: 'Permanent Marker', cursive;
  color: #1e5466;
  background-color: #ff6161;;
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 10px 10px 5px darkgrey;
  border: #1e5466;
  border-width: 5px;
  border-style: solid;
}

.container {
  background-color: rgba(255,255,255,0.8);
  padding: 50px; 
}

body {
  background-image: url("http://www.infoscenariodepersonne.com/images/salle-de-cinema-le-cinema-de-Personne-1320.png");
  background-size: cover;
}